version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres-curso
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: curso_user
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: curso_backend
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@email.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    depends_on:
      - postgres

volumes:
  postgres_data:
